@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">


    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    
    <!-- Links related to Video Pop ut Code-->
    
    <link rel="stylesheet" 
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css">

    <script 
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    
    <link rel="stylesheet" 
              href="/css/exercise_list.css">

</head>

<body>

    <main role="main">
    
        <section class="jumbotron text-center">
            <div class="container">
            <h1 class="jumbotron-heading">Nutrition Goal</h1>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="/images/gain_muscle_nutrition.jpg" alt="Exercise Image">
                            <div class="card-body">
                                <p class="card-text">Diets for gaining muscle. </p>
                                <div class="d-flex justify-content-between align-items-end   button more btn btn-sm btn-outline-secondary ">

                                    @Html.ActionLink("Build Muscle", "BuildMuscle", "Nutrition", new {area = "Nutrition"}, null)

                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <div class="card-body" style="display: none; width: 10px">
                                <div class="d-flex justify-content-between align-items-center">

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="/images/lose_fat_nutrition.jpg" alt="Exercise Image">
                            <div class="card-body">
                                <p class="card-text">Diets for losing fat</p>
                                <div class="d-flex justify-content-between align-items-center button more btn btn-sm btn-outline-secondary">
                                    
                                    @Html.ActionLink("Lose Fat", "LoseFat", "Nutrition", new {area = "Nutrition"}, null)
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <p class="lead text-muted"></p>
            </div>
        </section>
    
        @*<div class="album py-5 bg-light">
            <div class="container">
    
                <div class="row">
                     
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="" alt="Exercise Image">
                            <div class="card-body">
                                <p class="card-text">Exercise description</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    
                                    <a href="#videostory5" class="button more btn btn-sm btn-outline-secondary" id="videolink5">
                                        Watch</a>
                                    
                                    <!-- Video Code-->
                                    <div id="videostory5" class="mfp-hide popup">
                                        <iframe width="853" height="480" src="https://www.youtube.com/embed/"
                                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen>
                                        </iframe>
                                    </div>
                                    <small class="text-muted">4 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="" alt="Exercise Image">
                            <div class="card-body">
                                <p class="card-text">Exercise description</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    
                                    <a href="#videostory6" class="button more btn btn-sm btn-outline-secondary" id="videolink6">
                                        Watch</a>
                                    
                                    <!-- Video Code-->
                                    <div id="videostory6" class="mfp-hide popup">
                                        <iframe width="853" height="480" src="https://www.youtube.com/embed/"
                                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen>
                                        </iframe>
                                    </div>
                                    <small class="text-muted">4 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="" alt="Exercise Image">
                            <div class="card-body">
                                <p class="card-text">Exercise description</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    
                                    <a href="#videostory7" class="button more btn btn-sm btn-outline-secondary" id="videolink7">
                                        Watch</a>
                                    
                                    <!-- Video Code-->
                                    <div id="videostory7" class="mfp-hide popup">
                                        <iframe width="853" height="480" src="https://www.youtube.com/embed/"
                                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen>
                                        </iframe>
                                    </div>
                                    <small class="text-muted">4 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>*@
    
    </main>


<!-- Code that manages the video popup -->
<script>

    // Exercise 1 
    $('#videolink1').magnificPopup({
        type:'inline',
        midClick:true
    })
    
    // Exercise 2 
    $('#videolink2').magnificPopup({
            type:'inline',
            midClick:true
        })
    
    // Exercise 3 
    $('#videolink3').magnificPopup({
            type:'inline',
            midClick:true
        })
    
    // Exercise 4  
    $('#videolink4').magnificPopup({
        type:'inline',
        midClick:true
    })
    
    // Exercise 5 
    $('#videolink5').magnificPopup({
            type:'inline',
            midClick:true
        })
    
    // Exercise 6 
    $('#videolink6').magnificPopup({
            type:'inline',
            midClick:true
        })
    
    // Exercise 7  
    $('#videolink7').magnificPopup({
        type:'inline',
        midClick:true
    })
    
    // Exercise 8 
    $('#videolink8').magnificPopup({
            type:'inline',
            midClick:true
        })
    
    // Exercise 9 
    $('#videolink9').magnificPopup({
            type:'inline',
            midClick:true
        })
    
</script>


<!-- Jquery first, then bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
