@{
    ViewData["Title"] = "Privacy Policy";
}
<body>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<style>
body {
    background-image: url('https://images.pexels.com/photos/3301/apple-norms-size-standards.jpg?auto=compress&cs=tinysrgb&h=650&w=940');
    background-size: cover;
   
}
    
  
</style>
</body>